<div class="row py-3 rounded" id="{{ domId }}">
    <div class="col-auto ml-4">
        <div class="row">
            <div class="col-auto>
                <a href="{{ authorProfileLink }}" title="View user profile"><img alt="avatar" class="border rounded-circle" src="{{ author.thumbnail }}" width="50" height="50" /></a>
            </div>
            <div class="col text-left">
                <div class="row">
                    <div class="col">
                        <a href="{{ authorProfileLink }}" title="View user profile">{{ author.user_name }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ authorProfileLink }}" title="View user profile">{{ author.real_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-4">
        {{ post.content }}
    </div>
    <div class="col-auto mr-4">
        <div class="row">
            <div class="col-auto">
                {{ sent_timestamp }}
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <span data-objid="{{ post.id }}" data-ctid="{{ ctid }}" class="thanksStatNumber" id="id_thankstats_{{ ctid }}_{{ post.id }}">{{ post.thanks }}</span><span data-objid="{{ post.id }}" data-ctid="{{ ctid }}" id="id_thankbtn_{{ ctid }}_{{ post.id }}">{{#if post.thanked}}<i title="Unthank" class="fas fa-handshake-slash"></i>&nbsp;-1{{else}}<i title="Thank the author for this" class="far fa-handshake"></i>&nbsp;+1{{/if}}</span>
            </div>
        </div>
    </div>
</div>