<div class="row" id="{{ domId }}" data-level="{{ level }}" data-id="{{ file.id }}">
    <div class="col-auto">{{{ justification }}}</div>
    <div class="col">
        <i class="invisible far fa-fw fa-plus-square"></i>&nbsp;<i class="far fa-fw fa-file"></i>&nbsp;<span data-id="{{ file.id }}" id="id_nameSpan_file_{{ file.id }}">{{ fileName }}</span>
    </div>
    <div class="col-4">{{ time_last_edited }}</div>
</div>