<div class="row bg-light rounded shadow-sm mx-5 my-4 px-2 py-3" id="{{ domId }}">
    <div class="col">
        <div class="row">
            <div class="col-auto text-center">
                <div class="row flex-row justify-content-center">
                    <div class="col-auto">
                        <a href="{{ authorProfileUrl }}"><img alt="avatar" class="border rounded-circle" src="{{ author.thumbnail }}" width="50" height="50" /></a>
                    </div>
                </div>
                <div class="row flex-row justify-content-center">
                    <div class="col-auto">
                        <a href="{{ authorProfileUrl }}">{{ author.user_name }}</a>
                    </div>
                </div>
                <div class="row flex-row justify-content-center">
                    <div class="col-auto">
                        <a href="{{ authorProfileUrl }}">{{ author.real_name }}</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3>{{ issue.title }}</h3>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        {{ issue.description }}
                    </div>
                </div>
                <div class="row mt-3 mb-1">
                    <div class="col">
                        <button id="button_showhidecomments_{{ issue.id }}" class="btn btn-secondary font-weight-light">Show comments</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <h4>
                            <span class="badge badge-secondary"><i title="{{ typeBadge.title }}" class="{{ typeBadge.iconClasses }}"></i>&nbsp;{{ typeBadge.text }}</span>
                        </h4>
                    </div>
                    <div class="col-auto">
                        <h4>
                            <span class="badge badge-secondary"><i title="{{ statusBadge.title }}" class="{{ statusBadge.iconClasses }}"></i>&nbsp;{{ statusBadge.text }}</span>
                        </h4>
                    </div>
                </div>
                <div class="row mt-2 d-flex flex-row justify-content-center text-center">
                    <div class="col-auto" data-label="upvotes" data-translator="getUpvoteButtons" data-escape="false">
                        <h4><i class="fas fa-chevron-up"></i></h4>
                        <h4>{{ issue.thanks }}</h4>
                        <h4><i class="fas fa-chevron-down d-none"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-1 mx-5">
            <div class="col d-none" id="comments_{{ issue.id }}"></div>
        </div>
        <div class="row mx-5 d-none" id="id_create_comment_container_{{ issue.id }}">
            <div class="col-auto" id="my_profile_preview_{{ issue.id }}">
                <div class="row">
                    <div class="col-auto ml-4">
                        <img alt="avatar" class="border rounded-circle" src="{{ me.thumbnail }}" width="50" height="50" />
                    </div>
                    <div class="col text-left">
                        <div class="row">
                            <div class="col">
                                {{ me.user_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ me.real_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column mx-4">
                <textarea id="id_msg_textarea_{{ issue.id }}" class="d-flex flex-fill verticalscroll" rows="5" placeholder="Write your message here..."></textarea>
            </div>
            <div class="col-auto mr-4">
                <button id="btn_send_{{ issue.id }}" class="btn btn-primary sendButton">Send</button>
            </div>
        </div>

    </div>
</div>