<div class="col-8 col-xl-5 bg-light px-2 mx-2 my-2 py-2" id="{{ domId }}">
    <div class="row py-1">
        <div class="col-auto">
            <a href="{{ orgPageUrl }}"><img alt="logo" class="rounded of-contain" src="{{ org.logo_thumbnail }}" width="120" height="60" /></a>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5><a href="{{ orgPageUrl }}">{{ org.display_name }}</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6><a href="{{ orgPageUrl }}">{{ org.local_name }}</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>