<div class="row mx-3 px-3 my-2 py-3 bg-white border shadow-sm rounded" id="{{ domId }}">
    <div class="col-3">
        <div class="row">
            <div class="col justify-content-center text-center">
                <a href="{{ authorProfileLink }}"><img alt="avatar" class="border rounded-circle" src="{{ author.thumbnail }}" width="50" height="50" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-center text-center">
                <a href="{{ authorProfileLink }}">{{ author.user_name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-center text-center">
                <a href="{{ authorProfileLink }}">{{ author.real_name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-center text-center">
                {{ sent_timestamp }}
            </div>
        </div>
    </div>
    <div class="col-8" data-label="content" data-translator="newlineToLinebreaks" data-escape="false">
        {{{ content }}}
    </div>
    <div class="col-1 countAndActions">
        <div class="row">
            <div class="col">
                <a name="{{ postCount }}" href="#{{ postCount }}">&#35;&nbsp;{{ postCount }}</a>
            </div>
        </div>
        {{#each actions}}
        <div class="row">
            <div class="col">
                <a href="{{ this.href }}" data-toggle="{{ this.toggle }}" data-target="{{ this.target }}"><i class="{{ this.iconClasses }}"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>